body
{
background: linear-gradient(90deg,
     rgba(2,0,36,1) 0%,
     rgba(9,9,121,1) 35%,
     rgba(0,212,255,1) 100%);
}
/*-------------------------------------------------------------------------*/
h1
{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
}
/*-------------------------------------------------------------------------*/
h2
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 18px;
}
/*-------------------------------------------------------------------------*/
.new_book, .book_list, .edit
{   
    display: flex;
    justify-content: center;
    width: 350px;
    text-align: center;
    align-items: center;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(38, 114, 255);
    margin: auto;
    border-style: solid;
    border-color: blueviolet;
    


}
/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
